<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editt product</title>
</head>
<body>
<form th:action="@{/list/products/update/{id}(id=${product.getId()})}" th:object="${product}" th:method="POST">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="price">Price</label>
    <input type="text" th:field="*{price}" id="price" placeholder="Price" th:autocomplete="off">
    <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price error</div>
    <br/>
    <input type="submit" value="Update product">
</form>
</body>
</html>