<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div th:switch="${products}">
    <h2 th:case="null">No products found</h2>
    <div th:case="*">
        <h2>Products</h2>
        <div class="product_create">
            <form action=""
        </div>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td><a th:href="@{products/update/{id}(id=${product.id})}">Edit</a></td>
                <td><a th:href="@{products/delete/{id}(id=${product.id})}">Delete</a></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <!--    <form action="localhost:8080/" method="GET">-->
    <!--        <button type="submit">Logout</button>-->
    <!--    </form>-->
    <a href="/admin">Home</a>
    <a href="/list/products/create">Create new product</a>
</div>
</body>
</html>