<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
</head>
<body>
<form action="post" th:action="@{/list/users/create}" th:object="${user}" method="post">
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br/>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br/>
    <label for="firstName">First name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First name">
    <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name error</div>
    <br/>
    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last name">
    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name error</div>
    <br/>
    <label for="role">Role</label>
    <input type="text" th:field="*{role}" id="role" placeholder="Role">
    <div style="color: red" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Role error</div>
    <br/>
    <label for="status">Status</label>
    <input type="text" th:field="*{status}" id="status" placeholder="Status">
    <div style="color: red" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Status error</div>
    <br/>
    <input type="submit" value="Create user">
</form>
</body>
</html>